{% extends "pages/base.html" %}
{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/login.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/news_responsive.css'%}">
{% endblock %}
{% block content %}

{% load static %}
<br> <br>

            <div class="row">
                <div class="col-lg-12" style="background-image: url('https://wallpaperaccess.com/full/1236480.jpg');background-position: center;background-size: cover;height: 600px;">
                    <div class="loginn">
                        <form method="POST">
                            {% csrf_token %}
                            {% for key, value in form.errors.items %}
                                {{value}}
                            {% endfor %}
                            <div class="input-parent">
                                <label style="text-align: center; font-size: 25px;">ĐĂNG NHẬP</label>
                            </div>
                            <div class="input-parent">
                                <label>Tài khoản:</label>
                                {{form.username}}
                            </div>
                            <div class="input-parent">
                                <label>Mật khẩu:</label>
                                {{form.password}}
                            </div>
                            <div class="input-parent">
                                <input type="hidden" name="next" value="{{next}}"/>
                                <input type="submit" class="btn" value="Đăng nhập"/>
                            </div>
                        </form>
                    </div>
                
				</div>
            </div>




{% endblock %}